<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

  </head>
  <body>

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">American Watercolors</h1>
          <p class="animated fadeInUp">Research Resources for the Study of American Watercolors</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1 col-sm-12">
        <div class="block">
           <p style="padding-top:0;">Welcome to the Philadelphia Museum of Art’s research portal for the study of American watercolors. 
Organized in conjunction with the exhibition American Watercolor in the Age of Homer and Sargent and its accompanying catalogue by Kathleen A. Foster (2017), this site makes available supplementary materials with the goal of encouraging additional research on the ninety-three artists represented in the exhibition and the hundreds more who deserve study.
</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.jpg" alt="Img">
          <div class="caption">
            <p><b>Building a Smudge</b> Winslow Homer, American, 1836 - 1910. &copy; 125th Anniversary Acquisition / Gift of Ann R. Stokes. PMA 2002-10-1 </p>
          </div>
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
     {{ content }}
</div>
</div>
</div>
</section>

   









    {% include footer.html %}

    </body>
</html>
